.titre_restaurants{
    margin: 0;
    padding-left: 30px;
    padding-top: 20px;
    background-color: rgb(241, 241, 241);
}
.Menu__restaurants{
    background-color: rgb(241, 241, 241);
    padding-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;
    p{
        margin: 0;
        margin-left: 10px;
        font-size: small;
    }
    >a{
        text-decoration: none;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        margin-top: 10px;
        .Menu__X{
            background-color: white;
            height: 200px;
            width: 300px;
            border-radius: 15px;
            position: relative;
            -webkit-box-shadow: 0px 7px 13px 0px rgb(91 91 91 / 15%);
            .Flex__Menu{
                display: flex;
                justify-content: space-between;
                color: black;
                .icone_coeur{
                    .fa-regular.fa-heart{
                        margin-top: 15px;
                        margin-right: -22px;
                        font-size: large;
                        margin-bottom: 20px;
                    }
                }
                .fa-solid.fa-heart{
                    margin-top: 15px;
                    margin-right: 15px;
                    font-size: large;
                    margin-bottom: 20px;
                    opacity: 0;
                    background-image: linear-gradient(variables.$violet,variables.$rose );
                    background-clip: text;
                    -webkit-background-clip: text;
                    color: transparent;
                    &:hover{
                        opacity: 1;
                        transform: scale(1.2);
                        transition: 0.7s;
                    }
                }
                >div{
                    h3{
                        margin: 0;
                        margin-left: 10px;
                        margin-top: 8px;
                        margin-bottom: 3px;
                        font-size: medium;
                    }
                }
            }
            .etiquette-nouveau{
                height: 25px;
                width: 80px;
                background-color: variables.$vert;
                position: absolute;
                display: flex;
                right: 10px;
                top: 10px;
                border-radius: 2px;
                >p{
                padding-top: 5px;
                padding-left: 5px;
                color: #008062;
                margin: 0;
                margin-left: 10px;
                font-size: small;
                }
            }
            img{
                width: 100%;
                height: 70%;
                border-radius: 15px 15px 0 0;
                object-fit: cover;
            }
        }
    }
}