@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

/* font-family: 'Shrikhand', cursive; */
/* font-family: 'Roboto', sans-serif; */

body{
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

header{
    font-family: 'Shrikhand', cursive;
    text-align: center;
    box-shadow: rgba(52, 52, 52, 0.516) 0px 0px 6px 1px;
    font-size: small;
    position: relative;
}

header h1{
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 5px;
}

/* .Localisation{
    background-color: rgb(238, 238, 238);
    text-align: center;
} */

.Localisation h4{
    margin: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    background-color: rgb(238, 238, 238);
    color: rgb(71, 71, 71);
}

.fa-solid.fa-location-dot{
    padding-right: 15px;
}