@use "./header/base.scss";
@use "./header/header.scss";
@use "./header/localisation.scss";
@use "./header/reservez-le-menu.scss";
@use "./body/Fonctionnement.scss";
.color-blanc{
    color: white;
}
.color-gris-clair{
    color: rgb(128, 128, 128);
}
.color-noir{
color: black;
}
.background-color-gris{
    background-color: rgba(128, 128, 128, 0.259);
}

.background-gris-clair{
    background-color: rgb(246, 245, 245);
}
.background-violet{
    background-color: #9356DC;
}