@keyframes anim-vert{
    from{
        transform: rotate(-350deg);
    }
    to{
        transform: rotate(0);
    }
}
@keyframes anim-aparait{
    0%{
        transform: translateY(50%);
        opacity: 0;
    }
    100%{
        transform: translateY(0%);
        opacity: 1;
    }
}
.entrer-plat-dessert{
    background-color: #eeeeee;
    margin-top: -15px;
    display: flex;
    flex-wrap: wrap;
    .entrées{
        font-size: small;
        margin-left: 15px;
        margin-left: auto;
        margin-right: auto;
        h3{
            width: 30px;
            border-bottom: 3px solid #99E2D0;
            padding-bottom: 4px;
        }
        .entrée-1-div{
            width: 349px;
            background-color: white;
            border-radius: 15px;
            margin-bottom: 10px;
            animation: anim-aparait 1.5s;
            opacity: 0;
            @for $i from 1 through 5 {
                &:nth-child(#{$i}){
                animation-delay: 0.1s * $i;
                animation-fill-mode: forwards;
                }
            }
            &:hover .prix .animation-vert{
                margin-right: 0px;
            }
            &:hover .prix .fa-solid.fa-check{
                animation: anim-vert 1.5s ease;
            }
            p{
                margin: 0px;
                padding: 3px 0 8px 10px;
                padding-right: 15px;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .ingredients-prix{
                display: flex;
                overflow: hidden;
                border-radius: 15px;
                justify-content: space-between;
            }
            .double-p{
                transition-property: margin-right;
                transition-duration: 1s;
                overflow: hidden;
                white-space: nowrap;
                h4{
                    margin: 0;
                    padding: 8px 0 0 10px;
                    color: black;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
            .prix{
                justify-content: center;
                align-items: flex-end;
                display: flex;
                .animation-vert{
                    border-radius: 0 15px 15px 0;
                    margin: 0;
                    background-color: #99E2D0;
                    width: 60px;
                    height: 50px;
                    margin-right: -60px;
                    transition: all 1s;
                    .fa-solid.fa-check{
                        background-color: white;
                        padding: 5px;
                        border-radius: 15px;
                        margin: 14px 14px 14px 20px;
                        color: #99E2D0;
                    }
                }
            }
        }
    }
}