@keyframes anim-vert{
    from{
        transform: rotate(-350deg);
    }
    to{
        transform: rotate(0);
    }
}

.entrer-plat-dessert{
    .entrées{
    font-size: small;
    margin-left: 15px;
    margin-bottom: 30px;

        .ingredients-prix{
            display: flex;
            overflow: hidden;
            border-radius: 15px;
            &:hover{
                .double-p{
                margin-right: 36px;
                }
                .double-p2{
                    margin-right: 2px;
                }
                .double-p3{
                    margin-right: 88px;
                }
                .double-p4{
                    margin-right: -51px;
                }
                .double-p5{
                    margin-right: -28px;
                }
                .double-p6{
                    margin-right: -39px;
                }
                .double-p7{
                    margin-right: 28px;
                }
                .double-p8{
                    margin-right: 65px;
                }
                .double-p9{
                    margin-right: 16px;
                }
                
                .fa-solid.fa-check{
                    animation: anim-vert 1s ease;
                }
            }
            .double-p,.double-p2,.double-p3,.double-p4,.double-p5,.double-p6,.double-p7,.double-p8,.double-p9{
                transition-property: all;
                transition-duration: 1s;
            }

            .double-p{
                margin-right: 95.8px;
            }
            .double-p2{
                margin-right: 61.4px;
            }
            .double-p3{
                margin-right: 147.8px;
            }
            .double-p4{
                margin-right: 9px;
            }
            .double-p5{
                margin-right: 31.1px;
            }
            .double-p6{
                margin-right: 20.6px;
            }
            .double-p7{
                margin-right: 87.4px;
            }
            .double-p8{
                margin-right: 124.3px;
            }
            .double-p9{
                margin-right: 75.6px;
            }
        
            .animation-vert{
            border-radius: 0 15px 15px 0;
            margin: 0;
            background-color: #99E2D0;
            width: 60px;
            height: 50px;
            margin-right: -60px;
                .fa-solid.fa-check{
                    background-color: white;
                    padding: 5px;
                    border-radius: 15px;
                    margin: 14px 14px 14px 20px;
                    color: #99E2D0;  
                }
            }

            .prix{
                padding-top: 23px;
            }
        }
        
        h3{
        width: 30px;
        border-bottom: 3px solid #99E2D0;
        padding-bottom: 4px;
        }

        >div{
        width: 300px;
        background-color: white;
        border-radius: 15px;
        margin-bottom: 10px;
        animation: 1s;

            h4{
            margin: 0;
            padding: 8px 0 0 10px;
            color: black;
            }
        }

    
        p{
        margin: 0px;
        padding: 3px 0 8px 10px;
        padding-right: 15px;
        }
    }
}