.a_la_francaise{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    border-radius: 25px 25px 0 0;
    background-color: #eeeeee;
    margin-top: -30px;
    position: relative;
    h2{
        margin-left: 20px;
        font-family: 'Shrikhand', cursive;
    }
    .fa-regular.fa-heart{
        margin-right: 30px;
    }
}

.entrer-plat-dessert{
    padding-bottom: 50px;
    background-color: #eeeeee;
    margin-top: -15px;
}