@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

/* font-family: 'Shrikhand', cursive; */
/* font-family: 'Roboto', sans-serif; */

body{
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

.image_header{
    height: 200px;
    width: 200px;
}