.titre{
    font-family: 'Shrikhand', cursive;
    text-align: center;
    box-shadow: rgba(52, 52, 52, 0.516) 0px 0px 6px 1px;
    font-size: small;
    position: relative;

    .titre--text{margin: 0px;
        padding-top: 10px;
        padding-bottom: 5px;
    }
}